.hero-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow: hidden;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
    height: 500px;
    width: 25%;
}

.hero-info h1 {
    font-size: 48px;
    font-weight: 500;
    color: var(--neutral-color-blue);
}

.hero-info p {
    margin-top: -5px;
    color: var(--neutral-color-grey);
    line-height: 25px;
}

.hero-info-buttons {
    margin-top: 25px;
}

.hero-button-primary, .hero-button-secondary {
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 1px 3px 10px var(--neutral-color-grey);
}

.hero-button-primary {
    color: #fff;
    background-color: var(--primary-color-blue);
    transition: all 0.3s ease-in-out;
}

.hero-button-primary:hover {
    color: var(--primary-color-blue);
    border: 2px solid var(--primary-color-blue);
    background-color: transparent;
}

.hero-button-secondary {
    color: rgb(56, 56, 56);
    background-color: rgba(236, 236, 236, 0.884);
    font-weight: 500;
}

.hero-button-secondary:hover {
    border: 2px solid rgb(56, 56, 56);
    background-color: transparent;
}

.hero-image-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.hero-bullet-background {
    height: 350px;
    width: 100%;
    margin-left: 180px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    background-color: var(--primary-color-blue);
}

.hero-image-wrapper img 
{
    margin-bottom: -300px;
    margin-right: 100px;
}

@media screen and (max-width: 800px) {
    .hero-wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }  

    .hero-bullet-background {
        height: 200px;
        width: 100%;
        margin-left: 0;
    }
    
    .hero-image-wrapper img 
    {
        width: 300px;
        margin: 0;
        margin-bottom: -180px;
        margin-left: -68px;
        margin-right: 57px;
    }

    .hero-info {
        margin-left: 0;
        margin-right: 30px;
        width: 80%;
        text-align: center;
        height: 339px;
    }

    .hero-info h1 {
        font-size: 26px;
    }

    .hero-info p {
        font-size: clamp(12px, 4vw, 16px);
    }

    .hero-info-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero-button-primary, .hero-button-secondary {
        padding: 10px 15px;
        font-size: 12px;
    }
}

@media screen and (min-width: 1245px) and (max-width: 1390px) {
    .hero-image-wrapper img 
    {
        width: 500px;
    }

    .hero-info {
        margin-right: 53px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .hero-image-wrapper img 
    {
        width: 400px;
    }

    .hero-info {
        margin-right: 53px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px)  {
    .hero-image-wrapper img 
    {
        width: 400px;
    }

    .hero-info {
        margin-right: 53px;
    }
}


@media screen and (max-width: 375px) 
{ 
    .hero-image-wrapper img 
    {
        margin-left: -70px;
        margin-right: 14px;
    }
}