.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    background-color: var(--primary-color-blue);
    padding: 50px;
    color: #fff;
}

.space-header {
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 400;
}

.contact-header {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    width: 25%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.contact-container input {
    border:none;
    outline: none;
    font-size: 14px;
    padding: 20px 80px 20px 20px;
    border-radius: 5px;
}

.contact-container button {
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--primary-color-red);
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}

.contact-container button:hover {
    background-color: white;
    color: var(--primary-color-red);
    border: 2px solid var(--primary-color-red);
}

.contact-container input.error {
    border: 2px solid var(--primary-color-red);
    border-bottom: 30px solid var(--primary-color-red);
    padding: 20px 80px 20px 20px;
}

.contact-error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-error-container i {
    margin-top: -23px;
    margin-left: 10px;
    font-size: 13px;
}

@media screen and (max-width: 768px) 
{
    .contact-wrapper {
        margin-top: 100px;
        padding: 40px 20px;
        text-align: center;
    }

    .contact-container {
        flex-direction: column;
    }

    
    .contact-error-container {
        width: 100%;
    }

    .contact-header {
        width: 100%;
        font-size: clamp(16px, 1.5rem, 30px);
    }

    .contact-container input 
    {   
        padding: 18px 60px 18px 20px;
        margin-bottom: 15px;
    }
    
    .contact-container button 
    {
        font-size: 14px;
        padding: 14px;
        width: 100%;
        margin-left: 0;
    }
    
}