.features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 80px 0;
}

.features-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.features-header h1 {
    font-size: 42px;
    font-weight: 500;
    color: var(--neutral-color-blue);
}

.features-header p {
    font-size: 16px;
    margin-top: -5px;
    text-align: center;
    color: var(--neutral-color-grey);
    line-height: 25px;
}

.features-section-buttons {
    margin-top: 40px;
    margin-bottom: 50px;
}

.features-section-buttons button {
    cursor:pointer;
    border:none;
    width: 200px;
    height: 60px;
    font-size: 15px;
    color: var(--neutral-color-grey);
    background-color: transparent;
    border-bottom: 1px solid var(--neutral-color-grey);
}

.features-section-buttons button:hover {
    color: var(--primary-color-red);
}

.features-section-buttons button.active {
    color: var(--neutral-color-blue);
    font-weight: 500;
    border-bottom: 2px solid var(--primary-color-red);
}

.features-section-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.features-section-image-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.features-section-bullet {
    height: 350px;
    width: 100%;
    margin-left: -100px;
    border-top-right-radius: 35%;
    border-bottom-right-radius: 35%;
    background-color: var(--primary-color-blue);
}

.features-section-image-wrapper img 
{
    margin-bottom: -250px;
    margin-left: 250px;
}

.features-section-content {
    width: 23%;
    margin-right: 500px;
}

.features-section-content h1 {
    color: var(--neutral-color-blue);
    font-size: 28px;
    font-weight: 500;
}

.features-section-content p {
    font-weight: 400;
    font-size: 16px;
    margin-top: -5px;
    color: var(--neutral-color-grey);
    line-height: 25px;
}

.features-section-content button {
    cursor: pointer;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
    background-color: var(--primary-color-blue);
}

.features-section-content button:hover {
    background-color: #fff;
    color: var(--primary-color-blue);
    border: 2px solid var(--primary-color-blue);
}

@media screen and (max-width: 768px) 
{
    .features-header {
        width: 80%;
    }

    .features-header p {
        font-size: clamp(14px, 3.8vw, 16px);
    }
    
    .features-section-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    
    .features-section-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .features-section-content {
        width: 80%;
        text-align: center;
        margin-right: 0;
        margin-top: 20px;
        margin-left: 60px;
    }

    .features-section-content button {
        display: none;
    }

    .features-section-content h1 {
        font-size: 23px;
    }

    .features-section-content p {
        font-size: clamp(12px, 3.8vw, 16px);
    }
    
    .features-section-bullet {
        height: 180px;
        width: 100%;
        border-top-right-radius: 35%;
        border-bottom-right-radius: 35%;
        background-color: var(--primary-color-blue);
    }
    
    .features-section-image-wrapper img 
    {
        width: 300px;
        margin: 0;
        margin-bottom: -140px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 560px) 
{
    .features-section-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .features-section-content {
        margin-left: 30px;
    }
    
    .features-section-bullet {
        height: 150px;
        width: 100%;
        margin-left: -100px;
    }
    
    .features-section-image-wrapper img 
    {
        width: 250px;
        margin: 0;
        margin-bottom: -110px;
        margin-left: 30px;
    }
}