.footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    background-color: var(--neutral-color-blue);
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    color: #fff;
}

.footer-links img {
    cursor: pointer;
    color: #fff;
    margin-left: 100px;
    margin-right: 60px;
    width: 150px;
}

.footer-links li {
    color: var(--neutral-color-grey);
    letter-spacing: 1.4px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 20px;
}

.footer-links li:hover {
    color: var(--primary-color-red);
}

.footer-social {
    margin-right: 90px;
}

.social-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 40px;
    color: #fff;
}

.social-icon:hover {
    color: var(--primary-color-red);
}

@media screen and (max-width: 990px) 
{
    .footer-wrapper {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }    

    .footer-links li {
        margin: 20px 20px;
        color: #fff;
    }

    .footer-links img, .footer-social {
        margin: 20px 0;
    }

    .social-icon {
        margin-left: 0;
        padding: 0 15px;
    }
}